<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <script type="module" src="/nottinghill-carnival/assets/main.js"></script>
  <body>

    <!-- {%- include header.html -%} -->

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <section id="list">
            <div id='div1' class='divRec'><div class='inside'>
              <img src="../nottinghill-carnival/assets/images/not-carn-01.jpeg" alt="">
            </div></div>
            <div id='div2' class='divQuad'><div class='inside'>
              <img src="../nottinghill-carnival/assets/images/not-carn-05.jpeg" alt="">
            </div></div>
            <div id='div2' class='divQuad'><div class='inside'>
              
            </div></div>
            <div id='div3' class='divRec'><div class='inside'>
              <img src="../nottinghill-carnival/assets/images/not-carn-03.jpeg" alt="">
            </div></div>
            <div id='div4' class='divCard'><div class='inside'>
              <img src="../nottinghill-carnival/assets/images/not-carn-06.jpeg" alt="">
            </div></div>
            <div id='div5' class='divRec'><div class='inside'>
              <img src="../nottinghill-carnival/assets/images/not-carn-02.jpeg" alt="">
            </div></div>
            <div id='div5' class='divRec'><div class='inside'>
            </div></div>
            <div id='div6' class='divQuad'><div class='inside'>
              <img src="../nottinghill-carnival/assets/images/not-carn-04.jpeg" alt="">
            </div></div>
            <div id='div7' class='divCard'><div class='inside'>
              <img src="../nottinghill-carnival/assets/images/not-carn-07.jpeg" alt="">
            </div></div>
            <div id='div8' class='divRec'><div class='inside'>
              <img src="../nottinghill-carnival/assets/images/not-carn-10.jpeg" alt="">
            </div></div>
            <div id='div9' class='divRec'><div class='inside'>
              <img src="../nottinghill-carnival/assets/images/not-carn-09.jpeg" alt="">
            </div></div>
            <div id='div10' class='divRec'><div class='inside'>
              <img src="../nottinghill-carnival/assets/images/not-carn-0.jpeg" alt=""></div></div>
        </section>
      </div>
    </main>

    <!-- {%- include footer.html -%} -->

  </body>

</html>
